<script defer data-domain="blog.corsego.com" src="https://plausible.io/js/plausible.js"></script>

<link rel="shortcut icon" type="image/png" href="favicon.png">

<link rel="manifest" href="/manifest.json">

{% if page.cover_image %}
  <meta property="og:image" content="{{ site.url }}{{page.cover_image}}">
{% else %}
  <meta property="og:image" content="/assets/corsego-blog-logo.png">
{% endif %}


<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.minima.social_links.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.name }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.cover_image %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.cover_image }}">
{% else %}
  <meta name="twitter:card"  content="corsego-blog-logo">
  <meta name="twitter:image" content="/assets/corsego-blog-logo.png">
{% endif %}
<!-- end of Twitter cards -->
