<script
  defer
  data-domain="blog.superails.com"
  src="https://plausible.io/js/plausible.js"
></script>

<link rel="shortcut icon" type="image/png" href="/favicon.png" />

<link rel="manifest" href="/manifest.json" />

<meta name="twitter:site" content="@{{ site.minima.social_links.twitter }}" />
<meta name="twitter:creator" content="@{{ site.author.name }}" />
<meta name="twitter:title" content="{{ page.title }}" />

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" />
{% else %}
<meta name="twitter:description" content="{{ site.description }}" />
{% endif %}
