<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div style="background: linear-gradient(90deg, rgba(255,246,0,1) 0%, rgba(4,4,158,1) 71%, rgba(0,7,255,1) 100%); color: white; text-align: center;">
      <!-- Dear friends, I'm from Ukraine. My home is  -->
      Sacrificing freedom for "peace" is the path to slavery.
      That's why we fight.
      Stand with Ukraine.
    </div>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="background-color: #07063D;">
      <div class="wrapper" style="background-color:#D0D0D0;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>