---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="padding-top: 2em;">
    <h1 class="post-title p-name" itemprop="name headline">
      {%- if page.thumbnail -%}
      <img src="{{ page.thumbnail }}" style="width:25px;height:25px;">
      &#160;
      {%- endif -%}
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  {% if page.path %}
    <p>
      <a href="{{ site.github_edit_url }}{{ page.path }}" target="_blank">Edit this page</a>
    </p>
  {% endif %}

  {%- if page.youtube_id -%}
    <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allowfullscreen src="https://www.youtube.com/embed/{{page.youtube_id}}"></iframe>
    </div>
    <hr>
  {%- endif -%}</p>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>
  <p style="font-weight: bold;">
    Did you like this article? Did it save you some time?
  </p>

  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="yshmarov" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>

  {% if site.related_posts.size >= 1 %}
  <hr>
  <div>
    <h3>You might also like:</h3>
    <ul>
    {% for related_post in site.related_posts limit: 5 %}
      <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {%- if site.links_to_prev_next -%}
    {%- include links_to_prev_next.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="https://giscus.app/client.js"
        data-repo="yshmarov/yshmarov.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMTA4MjkyNTk="
        data-category="General"
        data-category-id="DIC_kwDOEobgy84CkUiw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
