---
layout: default
---
<h2>{{ page.tag }}</h2>

<ul class="post-list">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in page.posts -%}
  <li>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {%- if post.thumbnail -%}
        <img src="{{ post.thumbnail }}" class="post-thumbnail" alt="">
        {%- endif -%}
        {{ post.title | escape }}
      </a>
    </h3>
    <div class="post-tags">
      {{ post | tags }}
    </div>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
